.App {
  width: 100%;
  height: 4000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  width: 100%;
  height: 100px;
  background-color: aquamarine;
  position: fixed;
}

.body {
  padding-top: 100px;
  width: 80%;
  height: 3500px;
}

.ContainerForFilmsPopular {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  
}

.FilmsPopular {
  width: 1009px;
  display: flex;
  overflow: hidden;
  background-color: white;
  border: 2px solid white;
  border-radius: 1em;
}

.Film {
  margin: auto;
  margin-right: 2px;
  
}