.App {
  width: 100%;
  height: 4000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: black;
}


.App_body {

  width: 55%;
  height: 3500px;
  background-color: white;
  border-radius: 1em;
}



.FilmsPopular_topLine {
  margin-top: 30px;
  width: 1009px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  overflow: hidden;
  background-color:  white;
  border-radius: 2em;
}

.Film {
  margin: auto;
  margin-right: 2px;
}

.menu_box {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  width: 95%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(177, 173, 173);
  border: 2px solid rgb(175, 173, 173);
  border-radius: 2em;
}

.menu_sorting {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  width: 95%;
  height: 30px;
  display: flex;
  background-color: gray;
  border: 2px solid rgb(175, 173, 173);
  border-radius: 2em;
}


